/* BAS */
header {
  width: 500px;
  height: 300px;
  background-color: aqua;
  box-shadow: 0cap;
}

/* BACAK */
footer {
  width: 100%;
  height: 200px;
  background-color: blueviolet;
  border: 1rem;
  border-color: bisque;
}

/* KOLUN ELI */
section h1 {
  background-color: aquamarine;
}

section ul li{
    background-color: chartreuse;
}

section ul li a{
    background-color: chocolate;
}

section p{
    background-color: burlywood;
}

.pelin{
    background-color: aquamarine;
    height: 200px;
}

.pelin a{
    background-color: blueviolet;
}